@use "../abstracts/variables";

html {
  font-size: 62.5%;
}

main {
  display: flex;
  flex-direction: column;
}
section {
  padding: 8rem 1.6rem;
  width: 32rem;
  .section-with-buttons {
    display: flex;
    flex-direction: column;
  }
}
.heading {
  display: inline-block;
}
.stars {
  display: flex;
}
