@use "../abstracts/variables";

.hero {
  &__text-container {
    &__heading {
      font-family: variables.$font-heading;
      color: #fff;
      font-size: 4rem;
    }

    &__description {
      font-family: variables.$font-body;
      color: #fff;
      font-size: 1.8rem;
    }
  }
}
