@use "../abstracts/variables";

.hero {
  &__text-heading {
    font-family: variables.$font-heading;
    color: variables.$color-white;
    font-size: 4rem;
  }

  &__text-description {
    font-family: variables.$font-body;
    color: variables.$color-white;
    font-size: 1.8rem;
  }
}

.heading {
  font-size: 4rem;

  &:not(.hero__title-heading) {
    color: variables.$color-gray-dark;
    border-bottom: 3px solid variables.$color-primary-accent;
  }
}

p {
  font-family: variables.$font-body;
  font-size: 1.8rem;
  &.descriptions {
    color: variables.$color-gray-light;
  }
}

.form-text {
  font-family: variables.$font-body;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: variables.$color-gray-dark;
}

.form-input {
  font-family: variables.$font-heading;
  font-size: 1.4rem;
  color: variables.$color-gray-light;
}

.booking-button {
  font-family: variables.$font-heading;
  font-size: 3.6rem;
  color: variables.$color-white;
}

.blog__text-city {
  color: variables.$color-gray-light;
  font-size: 2.8rem;
  font-family: variables.$font-subheading;
}
.blog__text-price-from {
  color: variables.$color-gray-light;
  font-family: variables.$font-body;
  font-size: 1.8rem;
}
.blog__text-price {
  color: variables.$color-primary-accent;
  font-family: variables.$font-body;
  font-size: 3.2rem;
}
.blog__text-button {
  font-size: 2rem;
  text-transform: uppercase;
  color: variables.$color-white;
  font-family: variables.$font-body;
}

.tours__button {
  font-family: variables.$font-body;
  font-size: 1.8rem;
  font-weight: 400;
  color: variables.$color-white;
}

.card__footer {
  font-family: variables.$font-body;
  font-size: 1.8rem;

  &--uppercase {
    text-transform: uppercase;
  }
}

.city-tour-name {
  font-family: variables.$font-heading;
  font-size: 2.8rem;
}

.rating-duration__duration {
  font-family: variables.$font-body;
  font-size: 1.8rem;
}
