@import url(/node_modules/@fontsource/rubik/400.css);
@import url(/node_modules/@fontsource/playfair-display/index.css);
@import url(/node_modules/@fontsource/mulish/400.css);

$color-primary-accent: #ff7757;

$color-primary: #ffd2c7;
$color-primary-light: #fff8f1;

$color-secondary-dark: #331811;
$color-secondary-light: #61291c;

$color-tertiary: #ffc107;

$color-gray-dark: #172432;
$color-gray-light: #767e86;
$color-gray-background-light: #f5f6f7;
$color-gray-background: #e5e5e5;
$color-white: #fff;

$font-heading: "Playfair Display", sans-serif;
$font-subheading: "Mulish", sans-serif;
$font-body: "Rubik", sans-serif;
