@use "../abstracts/variables";

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
  &__card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .card__image {
    border-radius: 1.6rem;
  }

  .card__blog-text {
    margin: 0;
    line-height: 4.2rem;
  }
}
.read-more__text {
  margin-right: 2rem;
}
