@use "../abstracts/variables";

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;

  .card {
    display: flex;
    flex-direction: column;

    &__images-container {
      position: relative;
      max-width: 28.8rem;
    }
    .images {
      border-radius: 1.6rem;

      &__figcaption {
        position: absolute;
        line-height: 3.5rem;
        top: 65%;
        left: 15%;
        .figcaption__monument {
          display: block;
        }
        .figcaption__city {
          padding-left: 1rem;
        }
      }
    }
  }
}
