.header {
  position: absolute;

  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2.4rem 2.6rem;

  gap: 2rem;

  &__logo {
    display: flex;
  }

  &__nav {
    display: flex;
  }
}
